<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información sobre Autos Antiguos</title>
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
    <header>
        <script src="./js/tpHeader.js"></script> 
    </header>

    <main>
        <div id="app" class="container">
            <br>
            <a  class="btn btn-primary" href="vehiculo_nuevo.html">Nuevo</a>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Año</th>
                                    <th scope="col">Origen</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class=""  v-for="producto in productos">
                                    <td scope="row">{{producto.id}}</td>
                                    <td>{{producto.nombre}}</td>
                                    <td>{{producto.anio}}</td>
                                    <td>{{producto.origen}}</td>
                                    <td>
                                        <img width="40"  :src="producto.imagen" :alt="producto.nombre">
                                    </td>
                                    <td>
                    			<a class="btn btn-primary" :href="'vehiculo_editar.html?id='+ producto.id" >Editar</a>
                                      <button type="button" class="btn btn-danger" v-on:click="eliminar(producto.id)" >Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>



    </main>

    <footer>
        
    </footer>
    <script src="./js/index.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/logout.js"></script>
</body>
</html>